@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    margin: 0px;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
}

body:not(header){
    background: linear-gradient(87.15deg, white 16.62%,#66656d 85.61%);
}
 
header{
    background: linear-gradient(98.15deg, #5E5B7E 16.62%, #FFDAB9 85.61%);
    height: 90px;
    width: 90px;  
    text-align: center;
    box-shadow: #FFDAB9 1px 0.5px;  
    border-radius: 100px;
}

.menu-item{
    font-family: caveat;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;    
    justify-content: space-around; 
    text-shadow: 0px 1px 0px #861336;
    padding: 0.25rem 0.25rem;
    margin: 0.5rem;
    cursor: pointer;
    text-shadow: 1px 1px 0 1px #861336;
    transition: text-shadow 0.5s ease, transform 0.5s ease;
}
.menu-item:hover{color: #861336;transition: 0.5s;}
.menu-item:active{
    text-shadow: 0 0 0 0 #861336, inset 1px 1px 1px #861336;
    transform: translate(3px, 3px);
}

main{
    background-image: url('image.gif');
    background-repeat: repeat-y;
    background-attachment: fixed;
    border-radius: 15px;
    height: 350px;
    width: 100%; 
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    box-shadow: 0px 0.5px 0 0px #861336, inset 0px 0px 1px #FFDAB9; 
}

.text{
    font-family: quintessential;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 1px 1px #861336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}

.button{
    border: 0;
    border-radius: 0.25rem;
    display: inline-block;
    background: #FFDAB9;
    color: black;
    font-family: quintessential;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    text-shadow: 0px 1px 0px #861336;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0 0.5px #861336;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.button:hover{background-color: #861336; color: white; transition: 0.5s;}
.button:active{
    box-shadow: 0 0 0 0 #861336, inset 1px 1px 1px #861336;
    transform: translate(2px, 2px);
}

footer{ 
    font-family: quintessential;
    font-size: medium;
    color: white;
    height: 25%;
    width: 100%;
    padding: 0px 50px 0px 0px; 
    text-align: right;
}
